/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
* { 
  margin: 0;  
  padding: 0;
}
ol,ul {
  list-style: none;
}
a { 
  outline: 0; 
  text-decoration: none; 
}
img {
  border: 0;
}
body { 
  font: 17px/1.4 "orbitron"; 
  letter-spacing: 1px; 
  color: #ddd;
  background: #000; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
