.create-or-join {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40%;
    height: 40%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    font-size: 30px;

}

.create {
    flex: 1;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.06);
    margin-bottom: 30px;

    /* text-align: center;      */
}

.create:hover {
    background: rgba(255, 255, 255, 0.15);
    transform: scale(1.03);
}

.create>div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
